# Google Cloud Storage API Key
VITE_GCS_API_KEY="your_google_cloud_storage_api_key_here"

# Google Earth Engine API Key
VITE_EARTH_ENGINE_API_KEY="your_earth_engine_api_key_here"

# Google Maps API Key (If you use Google Maps instead of Leaflet/OpenStreetMap)
# VITE_GOOGLE_MAPS_API_KEY="your_google_maps_api_key_here"
